[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw
[submodule "externals/bx"]
	path = externals/bx
	url = https://github.com/bkaradzic/bx
[submodule "externals/bimg"]
	path = externals/bimg
	url = https://github.com/bkaradzic/bimg/
[submodule "externals/bgfx"]
	path = externals/bgfx
	url = https://github.com/bkaradzic/bgfx/
